# Hide everything that has been showing up
*.php linguist-detectable=false
*.html linguist-detectable=false
*.c linguist-detectable=false
*.h linguist-detectable=false
*.js linguist-detectable=false
*.css linguist-detectable=false

# If you have other folders you want to ignore entirely (like documentation)
docs/* linguist-documentation
