# Hide the languages that are taking over the bar
*.html linguist-detectable=false
*.htm linguist-detectable=false
*.c linguist-detectable=false
*.h linguist-detectable=false

# Explicitly tell GitHub to count these languages
*.java linguist-detectable=true
*.sh linguist-detectable=true
*.py linguist-detectable=true
*.sql linguist-detectable=true
